* {
    box-sizing: border-box;
  }

.hidden {
    display: none;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    color: white;
    background: linear-gradient(to left, #65c9b7, #cfb98a 33%, #9c85b9 100%);
}

.navbar {
    /* background: linear-gradient(to left, #65c9b7, #cfb98a 33%, #9c85b9 100%); */
    background-color:  #9c85b9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    position: relative;
    text-align: left;
    left: 3%;
}

.logo {
    position: relative;

}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }



.intro {
    margin: 5% 10% 3% 10%;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 5%;
}

#spotify-login {
    background-color: #1DB954;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 500px;
    border: 0;
    padding: 10px 25px;
}





.lineup-container {
    display: flex;
    justify-content: center;
    /* Edit this height */
    height: 450px;
}

.lineup {
    margin-top: 5%;
    background: url(images/lineup-background.png) no-repeat;
    background-size: cover;
    height:90%;
    width: 90%;
    color: white;
}

h5, h2, h3, h4 {
    margin-block-start: 0; margin-block-end: 0;
}

.lineup-header {
    position: relative;
    top: 5%;
}

.user-lineup{
    position: relative;
    top: 10%;
    
}

.headliners {
    font-size: ;
}

h3.headliners {
    font-size: 1.5em;
    margin-block-start: 1px; 
    margin-block-end: 1px; 
}

.videos-intro {
    width: 90%;
}

#video-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 600px; */
}

#videos-list {
    width: 90%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.artist-name {
    text-align: left;
    margin-left: 2%;
    margin-top: 3%;
}


li,
iframe {
    width: 100%;
    height: 100%;
}





@media (min-width: 750px){
    #spotify-login {
        font-size: 14px;
        border-radius: 500px;
        border: 0;
        padding: 17px 48px;
    }

    .name {
        left: 1%;
    }

    .lineup-container {
        height: 1000px;
    }

    .lineup {
        width: 50%;
    }

}