* {
  box-sizing: border-box;
}

ul.artist-list {
  padding: 0%;
  font-size: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

li {
  font-size: 16px;
}

.hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  color: white;
  background: linear-gradient(to left, #65c9b7, #cfb98a 33%, #9c85b9 100%);
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
}

h1,
h5,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar {
  /* background: linear-gradient(to left, #65c9b7, #cfb98a 33%, #9c85b9 100%); */
  background-color: #9c85b9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  position: relative;
  text-align: left;
  left: 1%;
}

.intro {
  margin: 5% 0 3% 0;
  font-size: 0.9em;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 5%;
}

#spotify-login,
#generate-button {
  font-size: 14px;
  padding: 12px 27px;
}

#spotify-login {
  background-color: #1db954;
  color: #ffffff;
  border: 0;
  border-radius: 500px;
}

#generate-button {
  margin-top: 3%;
  margin-bottom: 3%;
}

#lineup-entry {
  border: 1px solid white;
  border-radius: 5px;
}

.edit-button {
  color: white;
  background: #9c85b9;
  border: 1px solid white;
  border-radius: 5px;
}

.lineup-container {
  display: flex;
  justify-content: center;
  /* Edit this height */
  min-height: 450px;
  height: 100%;
}

.lineup {
  margin-top: 5%;
  background: url("Images/lineup-background.png") no-repeat;
  background-size: cover;
  min-height: 450px;
  height: 90%;
  width: 90%;
  color: white;
}

.lineup-header {
  margin-top: 5%;
}

.user-lineup {
  margin: 5% 2% 5% 2%;
}

.videos-intro {
  width: 90%;
  margin-top: 2%;
}

#video-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 600px; */
}

#videos-list {
  width: 90%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artist-name {
  text-align: left;
  margin-left: 2%;
  margin-top: 3%;
}

li,
iframe {
  width: 100%;
  height: 100%;
}

iframe {
  height: 200px;
}

@media (min-width: 750px) {
  .presented {
    font-size: 1.2em;
  }

  h3.headliners {
    font-size: 4em;
  }

  h4.headliners,
  .couchella {
    font-size: 3em;
  }

  .intro {
    margin-top: 2%;
    font-size: 1.2em;
  }

  #spotify-login,
  #generate-button {
    font-size: 0.7em;
    padding: 12px 27px;
  }

  #spotify-login {
    padding: 17px 48px;
  }

  #lineup-entry {
    height: 2.2em;
  }

  .edit-button {
    font-size: 0.7em;
  }

  #editable-lineup-page,
  li {
    font-size: 30px;
  }

  .lineup-container {
    min-height: 1000px;
    height: 100%;
  }

  .lineup {
    width: 70%;
    min-height: 900px;
  }

  .artist-vid {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 1500px) {
  .intro {
    font-size: 1.8em;
    margin-bottom: 2%;
  }

  .presented {
    font-size: 1.8em;
  }

  .lineup {
    margin-top: 2%;
  }
  h3.headliners {
    font-size: 6em;
  }

  h3.subliners,
  .couchella {
    font-size: 4em;
  }

  #spotify-login,
  #generate-button {
    font-size: 0.9em;
    padding: 12px 27px;
  }

  #spotify-login {
    padding: 17px 48px;
  }

  #lineup-entry {
    height: 2.8em;
    padding-top: 5px;
    font-size: 20px;
  }

  .edit-button {
    font-size: 0.8em;
  }

  #editable-lineup-page,
  li {
    font-size: 50px;
  }

  .lineup-container {
    min-height: 1000px;
    height: 100%;
  }

  .lineup {
    width: 50%;
    min-height: 1000px;
  }

  .artist-vid {
    width: 70%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 600px;
  }
}
